@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#__next{height:100%;}
body{background:#f8fafc}

@keyframes shimmer {
  0%   { background-position: -200% 0; }
  100% { background-position:  200% 0; }
}
